<?xml version="1.0" encoding="UTF-8"?>
<!-- This web.xml file is not required when using Servlet 3.0 container,
     see implementation details http://jersey.java.net/nonav/documentation/latest/jax-rs.html -->
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	    <servlet>
	        <servlet-name>Jersey Web Application</servlet-name>
	        <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	        <init-param>
	            <param-name>jersey.config.server.provider.packages</param-name>
	            <param-value>best.server.BestServeur</param-value>
	        </init-param>
	        <load-on-startup>1</load-on-startup>
	    </servlet>
	    <servlet-mapping>
	        <servlet-name>Jersey Web Application</servlet-name>
	        <url-pattern>/webapi/*</url-pattern>
	    </servlet-mapping>
	    	<!-- Bâtiment Servlet -->
	    <servlet>
	        <servlet-name>batiment</servlet-name>
	        <servlet-class>best.servlet.BatimentServlet</servlet-class>
	    </servlet>
	    <servlet-mapping>
	        <servlet-name>batiment</servlet-name>
	        <url-pattern>/batiment</url-pattern>        
	    </servlet-mapping>
	    	<!-- Connexion -->
	     <servlet>
	        <servlet-name>connexion</servlet-name>
	        <servlet-class>best.servlet.ConnexionServlet</servlet-class>
	    </servlet>
	    <servlet-mapping>
	        <servlet-name>connexion</servlet-name>
	        <url-pattern>/connexion</url-pattern>        
	    </servlet-mapping>
	    	<!-- DEConnexion -->
	     <servlet>
	        <servlet-name>deconnexion</servlet-name>
	        <servlet-class>best.servlet.DeconnexionServlet</servlet-class>
	    </servlet>
	    <servlet-mapping>
	        <servlet-name>deconnexion</servlet-name>
	        <url-pattern>/deconnexion</url-pattern>        
	    </servlet-mapping>
	    <!-- Inscription -->
	     <servlet>
	        <servlet-name>inscription</servlet-name>
	        <servlet-class>best.servlet.InscriptionServlet</servlet-class>
	    </servlet>
	    <servlet-mapping>
	        <servlet-name>inscription</servlet-name>
	        <url-pattern>/inscription</url-pattern>        
	    </servlet-mapping>
	    	<!-- Zone Servlet -->
	    <servlet>
	        <servlet-name>zone</servlet-name>
	        <servlet-class>best.servlet.ZoneServlet</servlet-class>
	    </servlet>
	    <servlet-mapping>
	        <servlet-name>zone</servlet-name>
	        <url-pattern>/zone</url-pattern>        
	    </servlet-mapping>
	    
	    <!-- Sortie servlet -->
	     <servlet>
	        <servlet-name>sortie</servlet-name>
	        <servlet-class>best.servlet.SortieServlet</servlet-class>
	    </servlet>
	    <servlet-mapping>
	        <servlet-name>sortie</servlet-name>
	        <url-pattern>/sortie</url-pattern>        
	    </servlet-mapping>
	    
	    <jsp-config>
	        <jsp-property-group>
	            <url-pattern>*.jsp</url-pattern>
	            <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
	        </jsp-property-group>
	    </jsp-config>
	    
	    <welcome-file-list>	    
		    <welcome-file>index.jsp</welcome-file>
		</welcome-file-list>
    
    </web-app>
